<div class="sidebar">
<nav class="sidebar-nav">
  {% strip %}
  {% for post in site.posts %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      {% capture year %}{{currentyear}}{% endcapture %}
      {% unless forloop.first %}</ul>{% endunless %}
<h3 class="anno-barra">Archivio - {{ currentyear }}</h1>
<ul class="sidebar-list">
    {% endif %}
  <li class="sidebar-elem"><a class="sidebar-link" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% endstrip %}
</nav>
</div>
